.container-experiencia {
    padding: 3rem;
}

.container-experiencia > p {
    margin-bottom: 0;
    text-align: left;
}

@media (max-width: 780px) {
    .container-experiencia {
        padding: 0rem;
    }

    .close-detail {
        top: -50px;
        right: 0;
    }
}   