.container-img-404 {
    height: 100vh;
}

.container-img-404 svg {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    fill: var(--verde);
}

.container-img-404 > img {
    width: 100%;
}