header {
    max-width: 1140px;
    width: 100%;
    padding: 1rem;
    margin: 0 4rem;
    background-color: aquamarine;
}

.container-header-img {
    width: 300px;
    top: 0px;
    position: absolute;
}

.header-img {
    width: 100%;
}

.container-header-txt {
    text-align: center;
}

.container-header-txt h1 {
    font-size: 3.5rem;
}

.container-header-txt span {
    color: var(--verde);
}

/*Main*/

main {
    max-width: 1140px;
    width: 100%;
    padding: 1rem;
    margin: 0 4rem;
    background-color: rebeccapurple;
    display: flex;
    gap: 1rem;
}

main aside {
    width: 20%;
    padding-top: 4rem;
    background-color: red;
    text-align: center;
}

main aside nav {
    display: flex;
    flex-direction: column;
}

main aside svg {
    width: 30px;
    fill: var(--verde);
}

main aside svg:hover {
    fill: var(--azul);
}

main aside a {
    padding: 1.2rem 0;
    text-decoration: none;
    color: var(--verde);
}

main aside a:hover {
    color: var(--azul);
}

.link-tienda {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--verde);
    border-radius: 50%;
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
}

.link-tienda:hover {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--azul);
    border-radius: 50%;
    color: var(--amarillo);
    font-weight: 100;
    font-size: 1.3rem;
}

.link-trabajos-conjunto {
    font-size: .8rem;
    padding: .3rem 0;
    margin-top: 2rem;
    background-color: var(--azul);
    color: white;
}

.lista-trabajo-conjunto {
    padding-left: 0;
}

.container-img-trabajo-conjunto {
    width: 100%;
    padding: 1rem;
}

.img-trabajo-conjunto {
    width: 100%;
}

/*Seccion trabajos*/

.section-trabajos {
    width: 80%;
    display: grid;
    grid-template-columns: 370px 1fr 1fr;
    background-color: beige;
}

.section-trabajos > article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    outline: 1px solid black;
}

.section-trabajos > article > h3 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: var(--verde);
    padding: .3rem;
}

.section-trabajos > article:nth-child(1) > h3:nth-child(1) {
    background-color: var(--verde);
    color: white;
}

.container-trabajos-portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.container-img-portfolio {
    width: 100%;
    /* background-color: blue; */
}

.img-portfolio {
    width: 100%;
}

/*SEccion grafica*/

.container-img-graficos {
    width: 180px;
    background-color: aqua;
    margin-bottom: 1rem;
}

.img-graficos {
    width: 100%;
}

/*Seccion fotografia*/

.container-img-fotograficos {
    width: 180px;
    background-color: aqua;
    margin-bottom: 1rem;
}

.img-fotograficos {
    width: 100%;
}


/*Footer*/

footer {
    max-width: 1140px;
    width: 100%;
    margin: 0 4rem;
    padding: 2rem;
    background-color: brown;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--azul);
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-header-txt h1 {
        font-size: 2rem;
    }

    .container-header-img {
        width: 200px;
        position: relative;
    }
}
  