header {
    max-width: 1140px;
    width: 100%;
    padding: 1rem;
    margin: 0 4rem;
    /* background-color: aquamarine; */
}

.container-header-img {
    width: 300px;
    top: 0px;
    position: absolute;
}

.header-img {
    width: 100%;
}

.container-header-txt {
    text-align: center;
}

.container-header-txt h1 {
    font-size: 3.5rem;
    font-family: var(--roboto-thin);
}

.container-header-txt span {
    font-family: var(--roboto);
    color: var(--verde);
}

/*Menu hamburguesa*/

.container-menu-hambur {
    display: none;
}

/*Main*/

main {
    max-width: 1140px;
    width: 100%;
    padding: 1rem;
    margin: 0 4rem;
    /* background-color: rebeccapurple; */
    display: flex;
    gap: 1rem;
}

main aside {
    width: 20%;
    padding-top: 4rem;
    /* background-color: red; */
    text-align: center;
}

main aside nav {
    display: flex;
    flex-direction: column;
}

main aside svg {
    width: 30px;
    fill: var(--verde);
}

main aside svg:hover {
    fill: var(--azul);
}

main aside a {
    padding: 1.2rem 0;
    text-decoration: none;
    color: var(--verde);
}

main aside a:hover {
    color: var(--azul);
}

.link-tienda {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--verde);
    border-radius: 50%;
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
}

.link-tienda:hover {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--azul);
    border-radius: 50%;
    color: var(--amarillo);
    font-weight: 100;
    font-size: 1.3rem;
}

.link-trabajos-conjunto {
    font-size: .8rem;
    padding: .3rem 0;
    margin-top: 2rem;
    background-color: var(--azul);
    color: white;
}

.link-trabajos-conjunto:hover {
    color: white;
    cursor: auto;
}

.lista-trabajo-conjunto {
    padding-left: 0;
}

.container-img-trabajo-conjunto {
    width: 100%;
    padding: .5rem 0;
}

.container-img-trabajo-conjunto {
    width: 100%;
    padding: .5rem 0;
}

.container-img-trabajo-conjunto:nth-child(1) {
    padding: 1rem 0 .5rem 0;
}

.img-trabajo-conjunto {
    width: 100%;
}

/*Seccion trabajos*/

.section-trabajos {
    width: 80%;
    display: grid;
    grid-template-columns: 370px 1fr 1fr;
    /* background-color: beige; */
}

.section-trabajos > article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-trabajos > article > h3 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: var(--verde);
    padding: .3rem;
}

.section-trabajos > article:nth-child(1) > h3:nth-child(1) {
    background-color: var(--verde);
    color: white;
}

.container-trabajos-portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
    position: relative;
}

.container-img-portfolio {
    width: 100%;
    /* background-color: blue; */
}

.container-img-portfolio:hover,
.container-img-graficos:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: all .8s ease;
    box-shadow: var(--box-shadow);
}

.container-img-graficos:hover {
    box-shadow: none;
}

.img-graficos:hover {
    box-shadow: var(--box-shadow);
}

.img-portfolio {
    width: 100%;
}

.container-img-portfolio > h4,
.container-img-graficos > h4 {
    width: 100%;
    display: none;
    padding: 1.5rem;
    font-family: var(--roboto-thin);
    text-align: center;
}

.container-img-portfolio:hover > h4,
.container-img-graficos:hover > h4 {
    width: 100%;
    font-size: 1rem;
    color: white;
    width: 100%;
    height: 20px;
    margin: auto auto;
    background-color: var(--verde);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SEccion grafica*/

.container-img-graficos {
    width: 180px;
    /* background-color: aqua; */
    margin-bottom: 1rem;
}

.img-graficos {
    width: 100%;
}


/*Footer*/

footer {
    max-width: 1140px;
    width: 100%;
    margin: 0 4rem;
    padding: 2rem;
    /* background-color: brown; */
    text-align: center;
    font-size: .8rem;
}

footer a {
    text-decoration: none;
    color: var(--azul);
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-header-img {
        width: 200px;
        position: relative;
    }

    /*Menu hamburguesa*/

    .container-menu-hambur {
        display: block;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 3000;
        position: fixed;
        background-color: transparent;
        border: none;
        fill: var(--azul);
    }

    .active {
        display: block;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    main aside {
        display: none;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        background-color: black;
        padding-bottom: 2rem;
    }

    .link-trabajos-conjunto {
        display: none;
    }

    .lista-trabajo-conjunto {
        display: none;
    }

    .section-trabajos {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .container-img-graficos {
        width: 100%;
        padding: 1rem;
    }

    .container-img-portfolio:hover,
    .container-img-graficos:hover {
        transform: scale(1.1);
    }

    .container-img-graficos:hover {
        transform: scale(1.1);
    }

    .container-img-portfolio > h4,
    .container-img-graficos > h4 {
        padding: 2rem;
    }

    .container-img-graficos:hover > h4 {
        width: 92.7%;
    }

    .container-img-graficos:nth-child(1) {
        padding: 0 1rem 1rem 1rem;
    }

    .container-header-txt h1 {
        font-size: 2rem;
    }
}
  