:root {
    --verde: #00EA27;
    --azul: #0000FE;
    --amarillo: #E2F102;
    --roboto: RobotoPaginaBold;
    --roboto-thin: RobotoPaginaThin;
    --box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.42);
}

@font-face {
    font-family: RobotoPaginaBold;
    src: url('./assets/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: RobotoPaginaThin;
    src: url('./assets/Roboto/Roboto-Light.ttf');
}
p {
    font-family: var(--roboto-thin);
}

ul {
    list-style: none;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

